<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <div class="app">
      <header class="navbar">
        <div class="logo">TRAVEL  APP</div>
      </header>
      <div class="form-container" id="main">
        <form id="form">
          <h2 class="title">Plan your Trip</h2>
          <div class="destination">
            <label for="city">Where are you going?</label>
            <input type="text" id="destination" class="text" placeholder="Enter a city name" />
          </div>
          <div class="date">
            <label class="date">When are you leaving?</label>
            <input type="text" id="departDate" class="text" onfocus="(this.type='date')" placeholder="DD/MM/YYYY"></input>
          </div>
          <button id="submit" class="button">Plan!</button>
        </form>
      </div>
      <div id="error" class="hide"></div>
      <div id="result-container" class="hide">
        <div id="results">
          <div class="image">
            <img src="" id="img">
          </div>
          <div id="all">
            <h1 id="Trip" class="trip-name"></h1>
            <div id="days-away"></div>
            <h2 class="head">Weather Details</h2>
            <div class="weather">
              <div id="icon" class="">
                <img src="" id="iconImg">
                <div id="description"></div>
              </div>
              <div class="temp">
                <div id="temp"></div>
                <div id="range"></div>
              </div>
            </div>
            <div id="travel-data">
              <h2 class="head">Relevant Info.</h2>
              <div id="general"></div>
            </div>
          </div>
        </div>
      </div>
      <footer id="footer">
        Travel app by &copyAlbo
      </footer>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
